:root{
    --ver-nav-width: 50px;
}
.bg-gray{
    background-color: rgb(225, 230, 235);
}
.btn:focus{
    box-shadow: none!important;
}
.linethrough{
    text-decoration: line-through!important;
}
/* Navbar */
.ver-nav{
    background: rgb(31, 31, 43);
    width: var(--ver-nav-width);
    height: 100vh;
    position: relative;
}
.nav-footer{
    position: absolute;
    bottom: 0;
}
.hor-nav{
    margin-left: var(--ver-nav-width);
    padding: 0!important;
    width: 100%;
}
.navbarname{
    border-right: 2px solid rgb(180, 179, 179);
    padding: 0 20px 0 10px;
    line-height: 100%;
}
/* Select option search navbar */
::-webkit-input-placeholder {
    font-style: italic;
    font-size: 15px;
 }
 :-moz-placeholder {
    font-style: italic;  
    font-size: 15px;
 }
 ::-moz-placeholder {
    font-style: italic;  
    font-size: 15px;
 }
 :-ms-input-placeholder {  
    font-style: italic; 
    font-size: 15px;
 }
 
/* Content */
.wrapper{
    margin: 10px 100px;
    display: block;
    width: 100%;
}
.body-wrapper{
    margin-right: var(--ver-nav-width);
}
.btn-dot{
    cursor: pointer;
}
.dropdown-item{
    cursor:pointer!important;
}
.dropdown-item:hover{
    background-color: rgb(212, 230, 230)!important;
}
.float-right{
    float: right;
}
.float-right::before{
    clear: both;
}
.float-right::after{
    clear: both;
}
/* Side menu */
.side-header{
    font-weight: 540;
}
.font-italic{
    font-weight:300!important;
    font-size: 14px;
}
.tag{
    background: rgb(238, 237, 237);
    color: rgb(148, 148, 148);
    font-weight: 400!important;
    font-size: 18px;
    margin: 4px;
}
.dragable{
    cursor: pointer;
}
.side-fixed{
    position: fixed;
    right: var(--ver-nav-width);
    width: 23%;
}
.modal-body{
    max-height: 70vh !important;
    overflow-y: auto !important;
}
/* small */
@media screen and (max-width: 768px){
    .wrapper{
        margin: 10px 0!important;
    }
    .hor-nav{
        margin-left: 0;
    }
    .body-wrapper{
        margin-right: 0;
    }
}

